@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 50% 3%;
    --btn-background: 200 10% 9%;
    --btn-background-hover: 200 10% 12%;
    --foreground: 200 20% 96%;
    --card-background: 200 10% 12%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
      --card-background: 200 10% 12%;
    }
  }
}

html,
body {
  overflow-x: hidden;
}

/*
* LOGO
*/

/*
* LOGO
*/

.logo {
  position: relative; /* Asegura que los pseudo-elementos se posicionen correctamente */
  width: 33px;
  height: 33px;
  border-radius: 10px;
  border: 1px solid #444;
  background: linear-gradient(45deg, #a78bfa, rebeccapurple);
  rotate: 45deg;
}

.logo::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  border: 1px solid #444;
  background: linear-gradient(45deg, #a78bfa, rebeccapurple);
  filter: drop-shadow(0 0 6px #222);
}

.logo::after {
  content: "</>";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-55%) translateY(16%);
  font-size: 14px;
  color: rgb(214, 195, 234);
  font-weight: bold;
  background: transparent;
  padding: 2px 4px;
  rotate: -45deg;
}

/*
* HEADER / SECTION_1
*/

.stack {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.arrow-right {
  opacity: 0;
}

.section-1-btn:hover .arrow-right {
  opacity: 1;
  animation: arrow-rotate 0.6s both;
  transition: opacity 1s all;
}

@keyframes arrow-rotate {
  to {
    transform: rotate(-45deg);
  }
}

.avaliable-dot {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 4px;
  width: 5px;
  height: 5px;
  background-color: limegreen;
  border-radius: 100%;
}

.avaliable-dot::before {
  content: "";
  position: absolute;
  left: calc(1px - 1px);
  top: calc(1px - 1px);
  padding: 4px;
  width: 5px;
  height: 5px;
  background-color: limegreen;
  border-radius: 100%;
  filter: drop-shadow(0 0 10px limegreen);
  animation: ping 5s infinite;
}

/*
* HEADER / SECTION_3
*/

.shadow-left {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(12, 12, 12, 0.85),
    rgba(12, 12, 12, 0.5),
    transparent
  );
  width: 25px;
  height: 100%;
  top: 0px;
  left: 0;
  filter: drop-shadow(0 0 10px #101112);
}

.shadow-right {
  position: absolute;
  background: linear-gradient(
    to left,
    rgba(12, 12, 12, 0.85),
    rgba(12, 12, 12, 0.5),
    transparent
  );
  width: 25px;
  height: 100%;
  top: 0px;
  right: 0;
  filter: drop-shadow(0 0 10px #101112);
}

/*
* SECTION_3 / MAIN
*/

.shadow-top {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(12, 12, 12, 0.85),
    rgba(12, 12, 12, 0.5),
    transparent
  );
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0 10px #101112);
}

.shadow-bottom {
  position: absolute;
  background: linear-gradient(
    to top,
    rgba(12, 12, 12, 0.85),
    rgba(12, 12, 12, 0.5),
    transparent
  );
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 0 10px #0e1013);
}

.work-arrow-icon-1,
.work-arrow-icon-2 {
  transform: translate(0, 0) rotate(-45deg);
  transition: transform 0.5s ease;
}

.work-arrow-icon-2 {
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.work-icon-hover:hover .work-arrow-icon-1 {
  transform: translate(20px, -25px) rotate(-45deg);
}

.work-icon-hover:hover .work-arrow-icon-2 {
  transform: translate(18px, -18px) rotate(-45deg);
}

/*
* HEADER / SECTION_4
*/

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --rotate: 360deg;
  }
}

.fancy-button {
  --color: #131315;
  --radius: 10px;
  --rotate: 90deg;
  --animation-duration: 0s;
  --inset: 1px;
  --fancy-color: #757575;
  border-radius: var(--radius);
  background: linear-gradient(to bottom, #3d3d3dcf, transparent);
  color: white;
  font-weight: 500;
  border: 0;
  position: relative;
  overflow: hidden;
  transition: 0.4s all;
}

.fancy-button:hover {
  filter: brightness(125%);
}

.fancy-button .fancy {
  position: absolute;
  inset: 0;
  animation: rotate calc(var(--animation-duration) * 2) infinite steps(2, end);
}

.fancy-button:hover .fancy:before {
  content: "";
  position: absolute;
  z-index: -1;
  rotate: 0;
  background: conic-gradient(
    from var(--rotate),
    transparent 0,
    var(--fancy-color) 340deg,
    white 360deg
  );
  inset: 0;
  animation: rotate var(--animation-duration) linear infinite both;
}

.fancy-button .fancy:after {
  content: "";
  background-color: var(--color);
  position: absolute;
  inset: var(--inset);
  border-radius: calc(var(--radius) - 2px);
}

.fancy-button .text {
  position: relative;
}

.proyects-hover {
  filter: grayscale(80%);
  transition: all 0.3s;
}
.proyects-hover:hover {
  filter: grayscale(20%);
}

/*
* PAGE 404 
*/

.text-404 {
  background-image: linear-gradient(to top, transparent, #757575, #b0b0b0);
  background-clip: text;
  color: transparent;
}

.b-404 {
  outline: 4px solid #3939399e;
  backdrop-filter: blur(5px);
}
.b-404:hover {
  background-color: #9b9b9b20;
}

.effect-1 {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(225, 188, 95);
  border-radius: 50%;
  filter: drop-shadow(0 0 100px violet) blur(35px);
  z-index: -1;
}

.reflection-404 {
  -webkit-box-reflect: below -12px linear-gradient(transparent, #00000009, rgb(0
          0 0 / 14%));
}

/**
# LOADER
*/

.loader {
  position: relative;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*
# LOGIN PAGE
*/

.bg-effect-1 {
  position: absolute;
  top: calc(48%);
  left: 30%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #a78bfac2;
  filter: blur(20px) drop-shadow(0 0 10px #968bfac4);
  z-index: 1;
  animation: 3s infinite alternate zoomin;
}

.bg-effect-1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgba(50, 50, 240, 0.908);
  filter: blur(20px) drop-shadow(0 0 10px rgba(51, 51, 229, 0.908));
}

@keyframes zoomin {
  from {
    scale: 0.92;
  }
  to {
    scale: 1;
  }
}

.bg-effect-2 {
  position: absolute;
  top: 10%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #a78bfa91;
  filter: blur(20px) drop-shadow(0 0 10px #a78bfa91);
  animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@view-transition {
  navigation: auto;
}

/* Ver la compatibilidad en Can I Use: https://caniuse.com/?search=view-transition-class */
.item {
  view-transition-class: item;
}
::view-transition-group(*.item) {
  animation-duration: 420ms;
  animation-timing-function: cubic-bezier(1, -0.62, 0.61, 1.37);
}

.swiper {
  width: 100%;
  height: 303px;
}

.swiper-slide .next-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/*
* FOOTER
*/

@media (width < 700px) {
  .footer-menu {
    position: fixed;
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 50px;
    gap: 12px;
    top: 30px;
    z-index: 99;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}
